@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom CSS */

:root {
  font-weight: 300;
  /* hide scroll */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  background-color: black;
}

/* hide scroll */
:root::-webkit-scrollbar {
  display: none;
}

.text-glow:hover {
  text-shadow: 0 0 10px #fff;
}

.text-green-glow {
  text-shadow: 0 0 5px #1efca3;
}
/* .figma-gradient {
background: linear-gradient(135deg, #FF3D00 0%, #FF7361 25%, #B659FF 50%, #00BCFF 75%, #00CF7F 100%);
} */

/* .devicon-devicon-plain {
  max-width: 2em;
}

.devicon-devicon-plain path {
  fill: #4691f6;
} */
