@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom CSS */

:root {
  font-weight: 300;
  /* hide scroll */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  background-color: black;
}

/* hide scroll */
:root::-webkit-scrollbar {
  display: none;
}

.text-glow:hover {
  text-shadow: 0 0 10px #fff;
}

.text-green-glow {
  text-shadow: 0 0 5px #1efca3;
}

.slick-slide.slick-center {
  transform: scale(1.1);
}

@keyframes floating {
  0% {
    transform: translate(-300px, -300px);
  }
  25% {
    transform: translate(500px, -300px);
  }
  50% {
    transform: translate(1000px, 500px);
  }
  100% {
    transform: translate(1500px, -500px);
  }
}

.floating {
  animation: floating 20s ease-in-out infinite alternate;
}
